
body {
  margin: 5em auto;
  max-width: 1000px;
  font-family: europa, helvetica, arial, sans-serif, serif;
  letter-spacing: 1px;
  background-color: #CAD6EE;
}

h1, h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav {
  text-align: center;
  width: 100%;
}

.nav .menu {
  display: none;
  cursor: pointer;
}


.nav ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav ul li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 1em;
  display: inline-block;
  cursor: pointer:
}

.nav a:hover {
  color: black;
}

.nav b {
  font-size: 1em;
  color: black;
}


/* wiki */

.wiki-containter {
  padding-top: 1em;
  margin: 0 auto;
  width: 500px;
}

.top {
  width: 100%;
  transition: height 0.3s ease-out;
  height: 3em;
  min-height: 50px;
  background-color: transparent;
}

.full-size {
  height: 20em;
}

.logo img {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 22rem;
}

.logo h1 {
  font-size: 3em;
}

.logo h1, h2 {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

#messenger {
display: inline-block;
}


.search-bar {
  height: 2em;
  padding: 1em;
  outline: none;
}

#search {
  font-size: 2em;
  font-family: Europa, times, serif;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  max-width: 600px;
  height: 60px;
  width: 100%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border: 0;
  background-color: #fff;
  color: #000;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  font-size: 1em;
  font-family: Europa, times, serif;
  color: #D8D8D8 !important;
}

input:focus {
  outline: none;
}

.bottom {
  width: 100%;
  position: relative;
  margin-left: 0 auto;
}

#results {
  display: block;
  color: black;
  font-family: Europa, times, serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
}


/* results style */

#results div {
  padding-bottom: 1em;
}

#results a {
  color: black;
  text-decoration: none;
}

#results h4, #results h4 a {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: black;
  margin: 0;
}

#results h4 a:hover {
  color: black;
  opacity: 0.5;
}

#results p {
  font-size: 20px;
  margin: 0;
}


/* return to top icon */

.footer {
  float: right;
  display: block;
}

.fa-chevron-up {
  color: black;
}

.return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


/* return to top transition */

.return-to-top i {
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


/* page transitions */

.page {
  display: none;
  height: 100%;
}

.animated.fade-up {
  animation-duration: 0.5s;
}

.fade-in {
  -webkit-animation: fade-in ease 1s;
  -moz-animation: fade-in ease 1s;
  -o-animation: fade-in ease 1s;
  -ms-animation: fade-in ease 1s;
  animation: fade-in ease 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* fade-in on page load */

.fade-in {
  animation: fade-in ease 1s;
  -webkit-animation: fade-in ease 1s;
  -moz-animation: fade-in ease 1s;
  -o-animation: fade-in ease 1s;
  -ms-animation: fade-in ease 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* media queries */

@media only screen and (max-width: 1100px) {
    body {
      margin: 1em;
    }

  .header {
    width: auto;
    padding: 0;
  }
  .proj-container, .calc-container {
    display: inline-block;
    padding: 0;
  }
  .calc-thumbnail, .wiki-thumbnail, .tumblr-thumbnail, .misc-thumbnail {
    width: auto;
    height: 300px;
  }
  .calc-thumbnail, .wiki-thumbnail {
    background-size: 12rem;
  }

  .calf-info, .calc-demo {
    width: auto;
  }
}

/* dropdown menu */

@media only screen and (max-width: 500px) {

.nav {
  float: none;
}

.nav .menu {
  display: block;
}

.nav a {
  display: block;
  cursor: pointer:
}

.menu {
  display: block;
}
.nav ul  {
  overflow: hidden;
  height: 0;
  margin: 0;
}
.nav ul.open {
  height: auto;
  display: block;
  }
}



/* on mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {

  .nav {
    padding: 0;
  }
  .nav a, .nav a:hover {
    padding: 5px;
    font-size: 20px;
    color:#d8d8d8;
  }

  /* wiki */

  #results a {
    font-family: Europa, times, serif;
    text-decoration: none;
  }
  .logo img {
    width: 60%;
    padding-top: 30px;
  }

}
